:root {
  background-color: aliceblue; 
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0%;
  padding: 0%;
}
/* 
header {
  color: cadetblue;
  margin: 0;
  padding: 0;
  text-align: left;
} */

.container {
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: cadetblue;
  padding-top: 50px;
  text-align: center;
  font-size: large;
}

h1 {
  margin-bottom: 20px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 25px;
  margin-bottom: 25px;
  font-style: italic;
  font-size: 25px;
  box-shadow: inset 10px 10px 40px white;
  border: 1.5px solid cadetblue;
  color: cadetblue;
  text-decoration: none;
  margin: auto;
}

#button-2 {
  padding-right: 37px;
  padding-left: 38px;
  margin-top: 10px;
}

.button:hover {
  cursor: pointer;
  box-shadow: cadetblue;
}